.idea

# ssh
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts

# Mac
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public

# Windows
3D Objects
Contacts
Desktop
Documents
Downloads
Favorites
Links
Music
OneDrive
Pictures
Saved Games
Searches
Videos

# IDE / text editor
PycharmProjects
IdeaProjects
eclipse-workspace
.vscode
.viminfo


# others
.DS_Store
.CFUserTextEncoding
.config/
.docker/application-template/
.eclipse/
.oh-my-zsh/
.oracle_jre_usage/
.p2/
.python_history
.tooling/
.wget-hsts
.zprofile
.zsh_history
.zshrc
.zshrc.pre-oh-my-zsh
developer/
eclipse/
.zcompdump-*
.SpechtLite/
.SwitchHosts/
.cups/
.docker/scan/
.npm/
.snipaste/
.sonarlint/
.swt/
.translation/
.vs-kubernetes/
.zsh_sessions/
Virtual Machines.localized/
logs/
store/

