[user]
	email = zxyful@gmail.com
	name = zxyle
[push]
	default = simple
[core]
	editor = vim
	quotepath = false
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
    defaultBranch = master
